@model CreateVM
@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Create</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Добавить новый дневник погоды</h1>
        <p>Мы начнём заполнять ваш дневник погоды, начиная с сегодняшней даты</p>
        <br><br>
            <form method="post" action="~/Home/Create">
                <select id="selectID">
                    @foreach (var item in Model.Citys)
                    {
                        <option name="city" value=”@item”>@item</option>

                    }
                </select>
                <br><br><br><br>
                <input type="submit" value="Добавить новый дневник" />
            </form>
    </div>
</body>
</html>