@model StopVM
@{
    ViewData["Title"] = "Stop";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <title>Stop</title>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Остановить ведение дневника погоды</h1>
        <p>Выберите дневник, который хотите остановить</p>
        <br><br>
            <form method="post" action="~/Home/Stop">
                <table class="center_table">
                    @foreach (var item in Model.Citys)
                    {
                        <tr>
                            <td>
                                <input type="radio" name="city" value="@item" />
                            </td>
                            <td class="text_enumeration">
                                <div>@item.ToString()</div>
                            </td>
                        </tr>
                    }
                </table>
                <br><br><br><br>
                <input type="submit" value="Остановить данный дневник" />
            </form>
    </div>
</body>
</html>