body {
}

.left_table {
    /*border: dotted;*/
    display: inline-block;
    vertical-align: top;
    margin-right: 75px;
}

.right_table {
    /*border: dotted;*/
    display: inline-block;
    vertical-align: top;
    margin-left: 75px;
}

.center_table {
    /*border: dotted;*/
    display: inline-block;
    vertical-align: top;
}

p{
    font-size: 18pt;
}

.success_message {
    color: green;
}

.text_enumeration {
    padding-left: 20px;
    font-size: 18pt;
    text-align: left;
}
