@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Вход</h1>
    <br /><br />
    <form method="post" action="~/Account/Login">
        @Html.DisplayNameFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        <br /><br />
        @Html.DisplayNameFor(model => model.Password)
        @Html.EditorFor(model => model.Password)
        <br /><br />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> <br/>
        <a href="~/Account/Register">Ещё не зарегистрировались?</a>
        <br /><br />
        <input type="submit" value="Войти" />
    </form>
</div>