@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Вход</h1>
    <br /><br />
    <form method="post" action="~/Account/Login">
        <input type="email" name="email" placeholder="email" />
        <br /><br />
        <input type="password" name="password" placeholder="пароль" />
        <br /><br />
        <a href="~/Account/Register">Ещё не зарегистрировались?</a>
        <br /><br />
        <input type="submit" value="Войти" />
    </form>
</div>