@model LoginViewModel

@{
    const string title = "Вход в аккаунт";
    ViewBag.Title = title;
    ViewData["Title"] = title;
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Вход</h1>
    <br /><br />
    <form method="post" action="~/Account/Login">
        @Html.DisplayNameFor(model => model.Email) <br/>
        @Html.EditorFor(model => model.Email)
        <br/><br/>
        @Html.DisplayNameFor(model => model.Password) <br/>
        @Html.EditorFor(model => model.Password)
        <br/><br/>
        <div class="validation text-danger text-center" asp-validation-summary="ModelOnly"></div> <br/>
        <a href="~/Account/Register">Ещё не зарегистрировались?</a>
        <br/><br/>
        <input type="submit" value="Войти"/>
    </form>
</div>