@model RegisterModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Регистрация</h1>
    <br /><br />
    <form method="post" action="~/Account/Register">
        <input type="email" name="email" placeholder="email" />
        <br /><br />
        <input type="password" name="password" placeholder="пароль" />
        <br /><br />
        <input type="password" name="repeat_password" placeholder="повторите пароль" />
        <br /><br />
        <a href="~/Account/Login">Уже есть аккаунт?</a>
        <br /><br />
        <input type="submit" value="Зарегистрироваться" />
    </form>
</div>