@model SelectDiaryViewModel
@{
    ViewData["Title"] = "Выбрать";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Показать дневник погоды</h1>
    <p>Выберите дневник, который хотите посмотреть</p>
    <br><br>
    <form method="post" asp-action="Select">
        <table class="left_table">
            @Html.DropDownListFor(model => model.Cities,
                                  new SelectList(Model.Cities),
                                  "Выберите город")
        </table>
        <table class="right_table">
            @foreach (var item in Model.WeatherСonditions)
            {
                <tr>
                    <td vertical-align: central>
                        <div>
                            <input type="checkbox" name="@item.NameEn" value="true" />
                        </div>
                    </td>
                    <td class="text_enumeration">
                        <div>@item.NameRu</div>
                    </td>
                </tr>
            }
        </table>
        <br><br><br><br>
        <input type="submit" value="Показать дневник" />
    </form>
    @if (Model.ErrorMessage != null)
    {
        <br /><br />
        <p class="error_message">@Model.ErrorMessage</p>
    }
</div>
